{% extends "polls/base.html" %}

{% block title %}Question index{% endblock %}

{% block content %}
<div class="w3-container">
  <h1>Question index</h1>
  {% if page_obj %}
  <table class="w3-table w3-striped">
    <tr>
      <th>Question</th>
      <th>Date published</th>
      <th>Votes</th>
      <th>Actions</th>
    </tr>
    {% for question in page_obj %}
    <tr>
      <td>{{ question.question_text }}</td>
      <td>{{ question.pub_date|timesince }} ago</td>
      <td>{{ question.num_votes }}</td>
      <td>
        <a class="w3-button w3-black" href="{% url 'polls:detail' question.id %}">Vote</a>
        <a class="w3-button w3-black" href="{% url 'polls:results' question.id %}">Results</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="w3-bar w3-margin-top">
    {% if page_obj.has_previous %}
    <a class="w3-button w3-black" href="?page=1">&laquo; first</a>
    <a class="w3-button w3-black" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <a class="w3-button w3-green" href="?page={{ page_obj.number }}">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </a>

    {% if page_obj.has_next %}
    <a class="w3-button w3-black" href="?page={{ page_obj.next_page_number }}">next</a>
    <a class="w3-button w3-black" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </div>
  {% else %}
  <p>No polls are available.</p>
  {% endif %}
</div>
{% endblock %}